{% extends 'layout.html' %}





{% block hero %}
<img src="static/img/hurricanev.jpg" alt="">
<body style="background-color:skyblue;"></body>
<p>
    Our goal is to help those in need ..........................................................................................
    .............................................................................................................................
    .............................................................................................................................
    .............................................................................................................................
</p>
{% endblock hero %}

